@font-face {
    font-family: 'Teletactile';
    src: url('/loadscreen/jons/font/teletactile.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    text-shadow: 0 1px 2px rgba(0,0,0,0.33);
}

.log {
    font-size: 15px;
    text-align: center;
    animation: log 5s forwards;
}

#servername, #mapname {
    font-family: 'Teletactile', sans-serif;
}
